@import "../../assets/sass/variables";

header{
  background-color: $bigdarkblue;
  border-radius: 0 0 15px 15px;
  display: flex;

  ul{
    display: flex;
    list-style: none;
    margin-bottom: 0;
    color: white;

    &.classicMenu{
      flex: 1;
    }

    li{
      span, a{
        color: white;
        display: block;
        padding: 20px 30px;

        &:hover{
          text-decoration: none;
          background-color: $cyantoblue;
          color: $grisperle;
        }
      }
    }

    .hasSubMenu{
      position: relative;

      .sub-menu{
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: $bigdarkblue;
        padding: 0;
        min-width: 100%;
        white-space: nowrap;
        z-index: 100;
      }

      &:hover{
        .sub-menu{
          display: flex;
        }
      }
    }
  }
}

.userMenu{
  color: white;
  display: flex;

  a{
    color: white;
    margin: auto 15px auto auto;
  }
}