form{
  margin-bottom: 50px;

  .btn{
    background-color: $bigdarkblue;
    border-color: $bigdarkblue;
    width: 100%;

    &:hover{
      background-color: $cleardarkblue;
      border-color: $cleardarkblue;
    }
  }
}