@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');
@import "../../assets/sass/variables";

body{
  color: $bigdarkblue;
  font-family: 'Roboto', sans-serif;
}

.to-girassol{
  font-family: 'Girassol', cursive;
}

.text-bold{
  font-weight: bold;
}

h1{
  text-align: center;
  font-size: 80px;
  font-family: 'Girassol', cursive;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 30px;
}