@import "../../assets/sass/variables";

.listActu{
  list-style: none;
  width: 50%;
  margin: auto auto 50px;
  display: flex;
  justify-content: space-between;

  .single{
    box-shadow: 0px 6px 29px 0 rgba(112, 115, 118, 0.3);
    margin-bottom: 50px;
    width: 30%;

    a{
      color: $bigdarkblue;
      display: block;
      padding: 30px;
      border: 1px solid transparent;

      .titre{
        display: block;
        font-size: 20px;
      }
      .date{
        display: block;
        font-size: 14px;
        font-style: italic;
      }

      &:hover{
        text-decoration: none;
        border: 1px solid $bigdarkblue;
      }
    }
  }
}