@import "../../assets/sass/variables";

.create-filiale-header{
  position: relative;

  .back-btn{
    font-size: 3em;
    position: absolute;
    left: 100px;
    top: 20px;
    cursor: pointer;
    color: $cleardarkblue;

    &:hover{
      color: $bigdarkblue;
    }
  }
}