@import "../../assets/sass/variables";

footer{
  background-color: $bigdarkblue;

  .copyright{
    display: flex;

    span{
      margin: auto;
      color: white;
    }
  }

  ul{
    display: flex;
    list-style: none;
    margin-bottom: 0;

    li{
      a{
        color: white;
        display: block;
        padding: 10px 30px;

        &:hover{
          text-decoration: none;
          color: $cyantoblue;
        }
      }
    }
  }
}