@import "../../assets/sass/variables";

tr{
  cursor: pointer;

  &.active{
    background-color: rgba($grisperle, 1) !important;
  }
}

.filiale-header{
  position: relative;

  .back-btn{
    font-size: 3em;
    position: absolute;
    left: 100px;
    top: 0;
    cursor: pointer;
    color: $cleardarkblue;

    &:hover{
      color: $bigdarkblue;
    }
  }
}