@import "../../assets/sass/variables";

.liste{
  .single{
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;

    &:after{
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 20%;
      height: 2px;
      background: $bigdarkblue;
    }

    &:last-child:after{ content: normal; }

    h4{
      .date{
        font-size: 0.7em;
        margin-left: 10px;

        > span{ margin-left: 5px; }
      }
    }

    .items{
      padding-left: 30px;

      .bloc{
        margin-bottom: 15px;

        &-title{
          color: $cyantoblue;
          text-transform: uppercase;
          font-size: 1.2em;
        }
        &-content{
          padding-left: 30px;
        }
      }
    }
  }
}

.todoliste{
  list-style: none;
  width: 50%;
  margin: auto auto 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .item{
    box-shadow: 0 6px 29px 0 rgba(112, 115, 118, 0.3);
    margin-bottom: 50px;
    width: 40%;
    padding: 10px 30px;

    .title{
      display: block;
      margin-bottom: 15px;
    }

    .description{
      margin-bottom: 15px;
    }

    .tags{
      display: flex;
      flex-wrap: wrap;

      .badge{
        margin-right: 10px;
        padding: 3px 5px;
      }
    }
  }
}